<div class="panel panel-default" ng-controller="traineeController as traineeCtrl">
    <div class="panel-body">
        <p ng-show="traineeCtrl.message" class="text-warning">{{traineeCtrl.stateParams}}</p>
        <div>
            <h3><span>Trainees table</span></h3>
            <button class="btn btn-primary" ng-click="traineeCtrl.goToAdd()">Add Trainee</button>
            <table class="table">
                <tr>
                    <th>First Name</th>
                    <th>Surname</th>
                    <th>More</th>
                </tr>
                <tbody class="table-striped">
                <tr  ng-repeat="trainee in traineeCtrl.trainees">
                    <td>{{trainee.firstName}}</td>
                    <td>{{trainee.secondName}}</td>
                    <td ng-click="traineeCtrl.goToView(trainee)">+</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

